<header>
    <div class="container-logos">
        <div class="div-logos">
            <a href="#"><i class="fab fa-facebook logos-link"></i></a> 
            <a href="#"><i class="fab fa-instagram logos-link"></i></a>
            <a href="#"><i class="fab fa-whatsapp-square logos-link"></i></a>
        </div>

        <a href="/"><img class="logo" src="/images/ferc.png" alt="LOGO"></a>

        <div class="topnav">
            <input class="buscador" type="text" placeholder="¿Qué estás buscando?" >
        </div>
        
        <a href="#"><i class="fas fa-user-alt derecha logos-link" ></i></a>
        <a href="/carrito"><i class="fas fa-shopping-cart derecha logos-link"></i></a>
    

        <nav>
            <ul id="menu">
                <li><a href="/productos">Vinos</a></li>
                <li><a href="/productos">Espumantes</a></li>
                <li><a href="/productos">Espirituosas</a></li>
                <li><a href="/productos">Combos</a></li>
                <li><a href="/productos">Accesorios</a></li>
                <li><a href="">Club DW</a></li>
            </ul>
        </nav>

    </div>

</header>