<!DOCTYPE html>
<html lang="en">
   
    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <section class="section-carrito">
        <div class="articulos-carrito">
            <h2 id="h2-carrito" >Carrito de compras</h2><br>

            <article class="article-carrito">
                <ul class="estilo-barra-carrito">
                    <li>Producto</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Sub total</li>
                </ul>
            </article>
            <hr>
            <br>
            <article class="article-carrito vino">
                <i class="fas fa-wine-bottle"></i>
                <h4>D.V. Catena Malbec</h4>
                <h4 class="precio1">$ 999</h4>
                <h4> -  3  + </h4>
                <h4 class="precio">$ 2997</h4>
                <i class="fas fa-trash-alt"></i>
            </article>
            <hr>
            <br>
            <article class="article-carrito vino">
                <i class="fas fa-wine-bottle"></i>
                <a href="/product-detail/24"><h4 class="linkcolor">Luigi Bosca Malbec</h4></a>
                <h4 class="precio1">$ 888</h4>
                <h4> -  3  + </h4>
                <h4 class="precio">$ 2664</h4>
                <i class="fas fa-trash-alt"></i>
            </article>
            <br>
            <hr>
            <div id="plus"><i class="far fa-plus-square"></i></div>

        <div>
            <div style="text-align: center;"><h2 style="color: #3e3f3c;">SUGERENCIAS</h2></div>
        <section class="section-sugerencias">
            <div class="sugerencias">
                <div class="productos-container">
                    <div class="productdiv-producto">
                        <div class="imgdiv-producto">
                            <a href="/product-detail/54">
                            <img  class="imgvend" src="/images/productos/image-1614979958999.jpg" alt="vino1">
                            </a>
                        </div>
                        <div class="contentdiv">
                            <p class="parrafocontent"><b>Casa Boher</b></p>
                            <p class="parrafocontent">Extra Brut</p>
                            <p class="parrafocontent"><b>$1029</b></p>
                            <button class="vendidosButton">Agregar al carrito</button>
                        </div>
                    </div>
                    <div class="productdiv-producto">
                        <div class="imgdiv-producto">
                            <a href="/product-detail/59">
                            <img  class="imgvend" src="/images/productos/image-1615247411608.jpg" alt="vino1">
                            </a>
                        </div>
                        <div class="contentdiv">
                            <p class="parrafocontent"><b>Chivas 12 años 750cc.</b></p>
                            <p class="parrafocontent">Espirituosa</p>
                            <p class="parrafocontent"><b>$3259</b></p>
                            <button class="vendidosButton">Agregar al carrito</button>
                        </div>
                    </div>
                    <div class="productdiv-producto">
                        <div class="imgdiv-producto">
                            <a href="/product-detail/28">
                            <img  class="imgvend" src="/images/productos/image-1614279210522.jpg" alt="vino1">
                            </a>
                        </div>
                        <div class="contentdiv">
                            <p class="parrafocontent"><b>Punto Final Malbec</b></p>
                            <p class="parrafocontent">Tinto</p>
                            <p class="parrafocontent"><b>$460</b></p>
                            <button class="vendidosButton">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>

        </div>

        <aside class="aside">
            <h4 style="color: #3e3f3c;" >Resumen</h4>
            <hr id="hr-resumen">
            <h4>Subtotal     $5661</h4>
            <hr>
            <h4>Envío     $300</h4>
            <hr>
            <h4>Total     $5961</h4>
            <hr>

            <button class="boton-total">Finalizar Compra</button>
        </aside>
    </section>

    <%- include("../partials/footer.ejs")%>
    
</body>
</html>