<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>
    
    <%- include("../partials/header.ejs")%>

    <div class="container">
		<div class="row">
			<div>
				<h2 class="container">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="container clase-create-form">
			<form action="/product-create-form" method="POST" enctype="multipart/form-data">
				<div>
					<div>
						<p><label for="name" class="estilo-form">Nombre del producto:</label></p>
						<input type="text" id="name" name="name" placeholder="Ej: Luigi Bosca" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="price" class="estilo-form">Precio del producto:</label></p>
						<input type="text" id="price" name="price" placeholder="Ej: 888" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="discount" class="estilo-form">Descuento:</label></p>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="estilo-form"> <br>
					</div>
					<div>
						<p><label for="category" class="estilo-form">Categoría:</label></p>
						<select name="category" id="category" class="estilo-form">
							<option value="">Elegí</option>
							<option value="Tinto">Tinto</option>
							<option value="Rosado">Rosado</option>
							<option value="Blanco">Blanco</option>
						</select>
					</div>
					<div>
                        <p><label for="image" class="estilo-form">Foto del Producto</label></p>
						<input type="file" name="image" id="image"> <br>
					</div>
					<div class="col-12">
						<p><label for="description" class="estilo-form">Descipción:</label></p>
						<textarea name="description" id="description" class="estilo-form"></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="register">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

    </div>
    
    <%- include("../partials/footer.ejs")%>

</body>
</html>