<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Digital Wine</title>
</head>
<body>
    <header>
        <div class="container-logos">
            <div class="div-logos">
                <a href="#"><i class="fab fa-facebook logos-link"></i></a> 
                <a href="#"><i class="fab fa-instagram logos-link"></i></a>
                <a href="#"><i class="fab fa-whatsapp-square logos-link"></i></a>
            </div>
    
            <a href="/"><img class="logo" src="/img/ferc.png" alt="LOGO"></a>

            <div class="topnav">
                <input class="buscador" type="text" placeholder="¿Qué estás buscando?" >
            </div>
            
            <a href="#"><i class="fas fa-user-alt derecha logos-link" ></i></a>
            <a href="/carrito"><i class="fas fa-shopping-cart derecha logos-link"></i></a>
        

            <nav>
                <ul id="menu">
                    <li><a href="">Vinos</a></li>
                    <li><a href="">Espumantes</a></li>
                    <li><a href="">Espirituosas</a></li>
                    <li><a href="">Combos</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Club DW</a></li>
                </ul>
            </nav>

        </div>
    
    </header>


    <main>
        <div>
            <a href=""><img id="banner" src="img/winecheesetb.jpeg" alt="banner"></a>
        </div>

        <div id="publi">
            <p><a href=""><i class="fas fa-truck fa-lg"></i>Envíos a todo el país</a></p>
            <p><a href=""><i class="far fa-credit-card fa-lg"></i> Métodos de pago</a></p>
            <p><a href=""><i class="fas fa-tag fa-lg"></i>Beneficios DW Club</a></p>
        </div>
           
        <h4>Los más vendidos</h4>
        <div class="vendidos">
           <div class="productdiv">
               <div class="imgdiv">
                   <a href="productDetail.html">
                    <img  class="imgvend" src="img/genericwine.jpg" alt="vino1">
                    </a>
                </div>
                <div class="contentdiv">
                    <p class="parrafocontent"><b>Bodega</b></p>
                    <p class="parrafocontent">Nombre producto</p>
                    <p class="parrafocontent"><b>$750.00</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
            </div>
           <div class="productdiv">
               <div class="imgdiv">
                   <a href="productDetail.html">
                    <img  class="imgvend" src="img/genericwine.jpg" alt="vino2">
                    </a>
                </div>
                <div class="contentdiv">
                    <p class="parrafocontent"><b>Bodega</b></p>
                    <p class="parrafocontent">Nombre producto</p>
                    <p class="parrafocontent"><b>$750.00</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
            </div>
           <div class="productdiv">
               <div class="imgdiv">
                   <a href="productDetail.html">
                   <img  class="imgvend" src="img/genericwine.jpg" alt="vino3">
                    </a>
                </div>
                <div class="contentdiv">
                    <p class="parrafocontent"><b>Bodega</b></p>
                    <p class="parrafocontent">Nombre producto</p>
                    <p class="parrafocontent"><b>$750.00</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
            </div>
           <div class="productdiv">
               <div class="imgdiv">
                   <a href="productDetail.html">
                    <img  class="imgvend" src="img/genericwine.jpg" alt="vino4">
                    </a>
                </div>
                <div class="contentdiv">
                    <p class="parrafocontent"><b>Bodega</b></p>
                    <p class="parrafocontent">Nombre producto</p>
                    <p class="parrafocontent"><b>$750.00</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
            </div>
        </div>

        <h4>DW Club Blog</h4>
            <div class="posts">
                <div class="containerimg">
                    <a href="">
                        <img src="img/uvas1.jpg" alt="Avatar" class="imgpost">
                        <div class="overlay">
                            <div class="text">Las mejores cepas</div>
                        </div>
                    </a>
                </div>  

                <div class="containerimg">
                    <a href="">
                        <img src="img/barriles.jpg" alt="Avatar" class="imgpost">
                        <div class="overlay">
                            <div class="text">Nuevas técnicas de guarda</div>
                        </div>
                    </a>
                </div>

                <div class="containerimg">
                    <a href="">
                        <img src="img/copa.jpg" alt="Avatar" class="imgpost">
                        <div class="overlay">
                            <div class="text">Cómo degustar vinos</div>
                        </div>
                    </a>
                </div>
            </div>
            

    </main>


    <footer>
        <div class="footer-container">
            <div class="sections">
            <h3>Secciones</h3>
            
            <ul class="estilo-section">
                <li><a href="">Vino</a></li>
                <li><a href="">Espumantes</a></li>
                <li><a href="">Espirituosas</a></li>
                <li><a href="">Cavas</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">DW Club</a></li>
            </ul>
            </div>
    
            <div class="contact">
            <h3>Contacto</h3>
                <ul>
                    <li>Tel:(011) 0303456</li>
                    <li>E-mail: dwines@gmail.com</li>
                </ul>
            </div>
            
            <div class="socials">
            <h3>Redes sociales</h3>
            <i id="color-fab" class="fab fa-facebook"></i> 
            <i id="color-fab" class="fab fa-instagram"></i>
            <i id="color-fab" class="fab fa-whatsapp"></i>
            </div>  
        </div> 
    </footer>
</body>
</html>