<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styleProducto.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
    
    <title>DigitalWINE</title>
</head>


<body>
<header>
    <div class="container-logos">
            <div class="div-logos">
            <a href="#"><i class="fab fa-facebook logos-link"></i></a> 
            <a href="#"><i class="fab fa-instagram logos-link"></i></a>
            <a href="#"><i class="fab fa-whatsapp-square logos-link"></i></a>
            </div>
    
            <a href="/"><img class="logo" src="/img/ferc.png" alt="LOGO"></a>

            <div class="topnav">
                <input class="buscador" type="text" placeholder="¿Qué estás buscando?" >
            </div>
            
            <a href="#"><i class="fas fa-user-alt derecha logos-link" ></i></a>
            <a href="/carrito"><i class="fas fa-shopping-cart derecha logos-link"></i></a>
        

    <nav>
        <ul id="menu">
            <li><a href="">Vinos</a></li>
            <li><a href="">Espumantes</a></li>
            <li><a href="">Espirituosas</a></li>
            <li><a href="">Combos</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Club DW</a></li>
        </ul>
    </nav>

    </div>
    
</header>

<section class="section-producto">
    <div class="div-producto">
        <article>
            <div><img height="400px" width="auto" src="/img/luigi-bosca.jpg" alt="Imagen Luigi Bosca"></div>
        </article>
        <article class="article-producto">
            <div class="descripcion">
                <h4>Descripción</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni recusandae maiores quam praesentium voluptatum veniam consequuntur culpa porro molestiae! Aliquid!</p>
            </div>
        </article>
    </div>

    <div>
        <aside class="aside-producto">
            <h2><u>LUIGI BOSCA MALBEC</u></h2>
            <h4>$888,00 c/u</h4>
            <a href="#"><h5 style="font-weight: lighter;"><u>Metodos de pago</u></h5></a>
            <a href="#"><div class="logos-aside">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fas fa-plus"></i>
            </div></a>
            <hr>
            <select class="cantidad" name="cantidad" id="">
                <option value="selecciona" checked>Cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <button class="button-producto">Agregar al carrito</button>
        </aside>
    </div>
</section>
<section class="section-total-sugerencias">
<div>
    <div style="text-align: center;"><h4 style="color: #3e3f3c;">SUGERENCIAS</h4></div>
    <section class="section-sugerencias">
    <div class="sugerencias">
        <article class="sugerencias-article">
            <img class="img-sugerencias" width="60px" height="auto" src="/img/camera.jpg" alt="imagen placeholder">
            <h5>Marca</h5>
            <h5>Nombre producto</h5>
            <h5>$000</h5>
            <button class="boton-carrito">Agregar al carrito</button>
        </article>
        <article class="sugerencias-article">
            <img class="img-sugerencias" width="60px" height="auto" src="/img/camera.jpg" alt="imagen placeholder">
            <h5>Marca</h5>
            <h5>Nombre producto</h5>
            <h5>$000</h5>
            <button class="boton-carrito">Agregar al carrito</button>
        </article>
        <article class="sugerencias-article">
            <img class="img-sugerencias" width="60px" height="auto" src="/img/camera.jpg" alt="imagen placeholder">
            <h5>Marca</h5>
            <h5>Nombre producto</h5>
            <h5>$000</h5>
            <button class="boton-carrito">Agregar al carrito</button>
        </article>
    </div>
    </section>
</div>
</section>

<footer>

    <div class="footer-container">
        <div class="sections">
        <h3>Secciones</h3>
        
        <ul class="estilo-section">
            <li><a href="">Vino</a></li>
            <li><a href="">Espumantes</a></li>
            <li><a href="">Espirituosas</a></li>
            <li><a href="">Cavas</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">DW Club</a></li>
        </ul>
        </div>

        <div class="contact">
        <h3>Contacto</h3>
            <ul>
                <li>Tel:(011) 0303456</li>
                <li>E-mail: dwines@gmail.com</li>
            </ul>
        </div>
        
        <div class="socials">
        <h3>Redes sociales</h3>
        <i id="color-fab" class="fab fa-facebook"></i> 
        <i id="color-fab" class="fab fa-instagram"></i>
        <i id="color-fab" class="fab fa-whatsapp"></i>
        </div>  
    
    </div>
</footer>
    
</body>
</html>