<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/style-register.css">
    <title>Digital Wine</title>
</head>

<body>
    
    <header>
        <div class="container-logos">
                <div class="div-logos">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp-square"></i>
                </div>
        
                <img class="logo" src="/img/ferc.png" alt="LOGO">
    
                <div class="topnav">
                    <input class="buscador" type="text" placeholder="¿Qué estás buscando?" >
                </div>
                
                <i class="fas fa-user-alt derecha" ></i>
                <i class="fas fa-shopping-cart derecha"></i>
            
        <nav>
            <ul id="menu">
                <li><a href="">Vinos</a></li>
                <li><a href="">Espumantes</a></li>
                <li><a href="">Espirituosas</a></li>
                <li><a href="">Combos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Club DW</a></li>
            </ul>
        </nav>
        </div>
    </header>
        
    <main>
            <div class="container">
                <div class="titles">
                <h1>Creá tu cuenta</h1>
                <h2>Por favor, ingresá tus datos</h2>
                </div>
                
            <form action="">
                <p><label for="name"></label></p> 
                <input type="text" name="name" id="name" placeholder="Nombre" class="estilo-form" required> 
                <br>

                <p><label for="apellido"></label></p>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="estilo-form" required> 
                <br>

                <p><label for="fecha" class="font">Fecha de Nacimiento</label></p>
                <input type="date" id="fecha" name="fecha" placeholder="dd/mm/aaaa"> <br>

                <p><label for="email"></label></p>
                <input type="email" name="email" id="email" placeholder="E-Mail" class="estilo-form" required> <br>
                
                <p><label for="password"></label></p>
                <input type="type" name="password" id="password" placeholder="Contraseña" class="estilo-form" required> <br>

                <p><label for="conf-password"></label></p>
                <input type="type" name="password" id="conf-password" placeholder="Confirmar Contraseña" class="estilo-form" required> <br>

                <p><button type="submit" class="register">Enviar</button></p>

            
            </form>
            </div>
    </main>

    <footer>

        <div class="footer-container">
            <div class="sections">
            <h3>Secciones</h3>
            
            <ul class="estilo-section">
                <li><a href="">Vino</a></li>
                <li><a href="">Espumantes</a></li>
                <li><a href="">Espirituosas</a></li>
                <li><a href="">Cavas</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">DW Club</a></li>
            </ul>
           
            </div>

            <div class="contact">
            <h3>Contacto</h3>
                <ul>
                    <li>Tel:(011) 0303456</li>
                    <li>E-mail: dwines@gmail.com</li>
                </ul>
            </div>
            
            <div class="socials">
            <h3>Redes sociales</h3>
            <i id="color-fab" class="fab fa-facebook"></i> 
            <i id="color-fab" class="fab fa-instagram"></i>
            <i id="color-fab" class="fab fa-whatsapp"></i>
            </div>  
        
        </div>
    </footer>
</body>
</html>