*{
  box-sizing: border-box;
}

body {
    background-color: #ede2d4;
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /* color violeta  #762057 */
}

hr{
  color: #3e3f3c;
  width: 87%;
}
a:link {
  text-decoration: none;
  color: #890a10;
}
a:visited{
  color: #890a10;
  text-decoration: none;
}

small {
  color: red; 
  font-weight: bold;
}


@media(max-width:440px){
}


/*------------ H E A D E R ------------*/

header {
  background: rgb(237,226,212);
  background: linear-gradient(90deg, rgba(237,226,212,1) 42%, rgba(137,10,16,1) 100%);
}

.fa-bars {
  background-color: #890a10;
  color: #ffffff;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  display: block;
}   

ul {
  list-style: none;
}

.navbar-nav  li>a{
  font-family: 'News Cycle', sans-serif;
  background-color: linear-gradient(90deg, rgba(237,226,212,1) 42%, rgba(209,137,142,1) 100%);
  text-decoration: none;
  text-align: center;
  color: #6e070c;
  font-size: large;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

.navbar-nav li>a:hover{
  color: #ede2d4;
  background-color: #6e070c;
  border-radius: 10px ;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color:  #ede2d4;
    color: #6e070c;
}

#vinosList {
  text-decoration: underline;
  font-weight: bold;
}

.fa-user-circle {
color: #6e070c;
  font-size: 30px;
  margin-right: 10px;
  display: inline-block;
}

.fa-shopping-basket {
  color: #6e070c;
  font-size: 30px;
  margin-right: 20px;
  display: inline-block;
}

.profile-font a {
  font-family: 'News Cycle', sans-serif;
  color: #6e070c;
  font-size: large;
  margin-right: 10px;
}

.profile-font a:hover {
  font-family: 'News Cycle', sans-serif;
  color: #6e070c;
  margin-right: 10px;
}

.btn {
  background-color: #6e070c;
  color:#ede2d4;
}

  /*------------ M A I N INDEX.EJS------------*/

  .imgbox{
    width: auto;
    height: auto;
  }
  
  
  #banner{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      margin: 20px auto 20px auto;
  }
  
  #publi{
      border-style: solid;
      border-width: thin;
      border-color: #890a10 ;
      border-radius: 8px;   
      height: 50px;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
      color: #890a10;
      background-color:#ede2d4;
      margin:auto;
      margin-top: 10px;
  }
  
  #publi a{
      text-decoration: none;
      font-family: inherit;
      font-weight: 600;
      color: #890a10;
  }

  
  .h4style {
    background-color: #fff;
    color: #6e070c;
    padding-top: 7%;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 23px !important;
    margin: 20px 0 20px 0;
  } 

  .titleMV {
    border-bottom:thin dotted;
    padding: 10px 30%;
    display: inline-block;
  }

  .fa-lg {
    font-size: 1.5em;
    line-height: 2em;
    vertical-align: -0.0667em;
  }
  
  .vendidos{
      font-family: inherit;
      text-decoration: none;
      color: #890a10;
      margin-left: 3%;
      margin-right: 3%;
      display: flex;
      justify-content: space-between;
      padding:0;
  }
  
  .imgdiv{
    width:50%
  }
  
  .contentdiv{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .parrafocontent{
    margin:0;
    padding:5%;
  }
  
  .imgvend{
    width: 90%;
  }

  .bordeSugerencias {
    border: 1px solid #EEE;
    text-align: center;
    padding: 10px 15px 10px 15px;
  }

  .estilo {
    background-color:#fff;
  }

  #margenes {
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  .imgpost{
    width: 150%;
    height: 100%;    
    }

  .column {
    margin: 15px 15px 0;
    padding: 0;
  }

  .sugerenciasIndex{
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  

  .column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 25px 0 125px;
    padding: 0;
  }
  .column div:first-child {
    margin-left: 0;
  }
  
  .hover a figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover a:hover img  {
    opacity: .5;
  }

  .column div span {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 0;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    opacity: 0;
  }

  figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #890a10 ;
    overflow: hidden;
  }
  a:hover+span {
    bottom: -30px;
    left: 40px;
    opacity: 1;
    color: #890a10;
    font-weight: 700;
  }

  .blog {
    justify-content: center;
  
  }
 


/*------------ M A I N PRODUCTO.EJS------------*/


.priceDetail {
  color: #890a10;
  font-weight: bold;
  margin: 10px auto;
  font-size: 30px;
}

.section-producto{
  display: flex;
  height: auto;
  width: 100%;
  background-color: white;
  justify-content: center;
  margin: 2% 0px;
}
  .article-producto{
    width: 500px;
  }


  .div-img{
    padding-bottom: 35px;
  
  }

.aside-producto{
  background-color: #ede2d4;
  height: auto;
  width: 100%;
  border-style: double;
  text-align: center;
  margin-top: 45px;
  padding: 10px 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

  .logos-aside{
    font-size: 15px;
    color: #890a10;
  }
  .cantidad{
    text-align: center;
    width: 50%;
  }
  .button-producto{
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: auto;
    color: #890a10;
    font-weight: bold;
    font-size: small;
  }
  .action-button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 18px;
    margin-top: 14px;
  }
  
  .action-button.edit {
    background-color: rgb(42, 129, 2);
  }
  .action-button.delete {
    background-color: rgb(248, 69, 37);
  }

  .section-total-sugerencias{
    display: flex;
    height: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    margin-bottom: 60px;
  }
    .section.sugerencias{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
    }
    .sugerencias{
      border: #3e3f3c;
      border-style: solid none;
      background-color: #fff;
      width: 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 5px 0px;
    }
      .sugerencias-article{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
      .img-sugerencias{
        justify-self: flex-start;
      }
      .boton-carrito{
        border-radius: 5px;
        background-color: white;
        height: 30px;
        width: auto;
        color: #890a10;
        font-weight: bold;
        font-size: small;
      }
  .imgdiv-producto{
    width:100%;
  }
  .productdiv-producto{
    padding-bottom: 0px;
    margin-right: 1%;
    display: flex;
    width: 30%;
    }

    
    .productos-container{
      font-family: inherit;
      text-decoration: none;
      color: #890a10;
      display: flex;
      justify-content: flex-start;
      padding:0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .imgdiv{
      width:10%;
    }
    
    .parrafocontent{
      margin: 0px;
      padding:2px;
      color: #890a10;
    }
      
    .imgvend{
      width: 90%;
    }
      
    .vendidosButton{
        background-color: #890a10;
          color: #f4efeb;
          /*font-family: quicksand;*/
          border:#d1898e;
          padding: 4px;
          font-weight:500;
          border-radius: 8px;
    }
  

/*------------ M A I N CARRITO.EJS------------*/

.section-carrito {
  display: flex;
  height: auto;
  width: 100%;
  background-color: white;
}

.articulos-carrito {
      background-color: white;
      flex: 2 1 auto;
      display: flex;
      flex-direction: column;
}

#h2-carrito{
  font-size: x-large;
  font-weight: revert;
  padding-left: 70px;
  color: #890a10;
}
      
.article-carrito{
  background-color: white;
}
          
.vino {
  display: flex;
  justify-content: space-around;
  color: #890a10;
}

.linkcolor:visited{
  color: none;
}

.estilo-barra-carrito{
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  width: 78%;
  position: relative;
  left: 169px;
  color: #3e3f3c;
  }
  
  .fa-wine-bottle{
    font-size: 40px;
    margin-left: 32px;
    margin-top: 10px;
  }
  
  .fa-trash-alt{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 23px;
  }
          
  .precio{
    margin-left: 10px;
  }
  
  #plus{
    display: flex;
    justify-content: center;
  }
  
  .fa-plus-square{
    justify-content: center;
    color: #890a10;
    font-size: 40px;
    margin-top: 20px;
  }
  
  .section-sugerencias{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
  }
    
  .sugerencias-article{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
          
  .img-sugerencias{
    justify-self: flex-start;
  }
          
  .boton-carrito{
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: auto;
    color: #890a10;
    font-weight: bold;
    font-size: small;
  }
  
  .aside{
    background-color: #ede2d4;
    height: 100%;
    width: 40%;
    border-style: double;
    text-align: center;
    margin-top: 68px;
  }
    
  .boton-total{
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 70%;
    height: 35px;
    margin-bottom: 8px;  
  }

/*------------ M A I N LOGIN.EJS Y REGISTER.EJS------------*/

.container { 
  text-align: center;   
  /*font-family: quicksand;*/
  color: #890a10; 
}

.form-control {
  position: relative;
  display: inline-block;
}

.form-control.error small {
  visibility: visible;
}

.form-control.success small {
  visibility: hidden;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: initial;
  top: 40px;
  right: 10px;
}

.estilo-form {
  background-color: white;
  /*font-family: quicksand;*/
  padding: 7px 7px;
  border-radius: 1em;
  width:30%;
  border-style: solid;
  border-color: #a1a1a1;
  margin-top: 10px;
}

::placeholder { 
  color:#890a10;
  font-weight:bolder;
  /*font-family: quicksand;*/
}

.register {
  background-color: #f4efeb;
  color: #890a10;
  font-weight: 900;
  /*font-family: quicksand;*/
  padding: 7px 7px;
  border-radius: 1em;
  width: 20%;
}

.register:hover{
  color: #d1898e;
}

#password {
  margin-bottom: 1%;
}


/*------------ PRODUCT-CREATE-FORM ------------*/

#estilo-form{
  background-color: white;
  /*font-family: quicksand;*/
  padding: 7px 7px;
  border-radius: 1em;
  width:30%;
}

/*------------ PRODUCTOS ------------*/

#titulo-productos{
      color: #3e3f3c;
      margin-left: 5px;
      padding: 1% 0 2% 2%;
    }

.productos-container{
  font-family: inherit;
  text-decoration: none;
  color: #890a10;
  display: flex;
  justify-content: flex-start;
  padding:0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productdiv{
padding-bottom: 50px;
margin-right: 1%;
display: flex;
width: 20%;
}

/* .productdiv:hover{
  border: solid gray;
  border-width: thin;
} */

.imgdiv{
width:50%;
}

.contentdiv{
padding: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.parrafocontent{
margin:0;
padding:5%;
}

.imgvend{
width: 90%;
}

.vendidosButton{
  background-color: #890a10;
    color: #f4efeb;
    /*font-family: quicksand;*/
    border: none;
    padding: 7px;
    font-weight: 700;
}

/*------------ USUARIOS ------------*/
.tituloProfile {
  color: #3e3f3c;
  font-family: Verdana;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 30px;
  float: left;
}

#userdiv {
  background-color: #fff;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% auto;
}

#userimg {
  width: 20%;
  margin: none;
}

.datopar {
  padding: 35px;
  border-bottom:thin dotted;
  border-color: rgb(189, 184, 187);
  margin-left: 2%;
  margin-right: 5%;
}

.propiedad {
  font-weight: 700;
}

/*------------ F O O T E R ------------*/

footer {
  background-color: #890a10;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #890a10;  
  justify-content: space-around;
}

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #890a10;  
    justify-content: space-around;
    margin-top: 5%;
  }

    h3 {
      color: #f4efeb;
      text-align: center;
  }


.sections {
  background-color: #890a10;
  color: #f4efeb;
  padding-top: 10px;
  /*font-family: quicksand;*/
  
}
.contact {
  background-color: #890a10;
  color: #f4efeb;
  padding-top: 10px;
  /*font-family: quicksand;*/
}
.socials {
  background-color: #890a10;
  color: #f4efeb;
  padding-top: 10px;
  /*font-family: quicksand;*/
}
.estilo-section a {
  background-color: #890a10;
  color: #f4efeb;
  text-decoration: none;
  margin-right: 30px;
}
.estilo-section  a:hover {
  color:#d1898e;
}
.socials #color-fab {
  margin-right: 30px;
}
#color-fab {
  color: #f4efeb;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 30px;
}
#color-fab:hover{
  color: #d1898e;
}

.list-style {
  text-align: left;
}

@media(max-width: 768px){
  .column div {
    margin: 0 auto;
  }
}

