<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/header.ejs') %>

    <main>
        <div id="imgbox">
            <a href=""><img id="banner" src="images/winecheesetb.jpeg" alt="banner"></a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 px-5" id="publi">
                    <p><a href=""><i class="fas fa-truck fa-lg"></i>Envíos a todo el país</a></p>
                </div>    
                <div class="col-md-3 px-5" id="publi">
                    <p><a href=""><i class="far fa-credit-card fa-lg"></i> Métodos de pago</a></p>
                </div>
                <div class="col-md-3 px-5" id="publi">
                    <p><a href=""><i class="fas fa-tag fa-lg"></i>Beneficios DW Club</a></p>
                </div>
            </div>
        </div><br>

        <div class="h4style">  
        <h4>Los más vendidos</h4>
        </div> <br>
        
        <div class="container-fluid py-2 estilo">
           <div class="row">
               <div class="col-md-3 px-5">
                   <a href="/producto">
                    <img src="images/genericwine.jpg" class="img-fluid" width= "200px" alt="vino1">
                    </a>
                    <p class="parrafocontent"><b>Bodega</b></p>
                    <p class="parrafocontent">Nombre producto</p>
                    <p class="parrafocontent"><b>$750.00</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
                <div class="col-md-3 px-5">
                    <a href="/producto">
                     <img src="images/genericwine.jpg" class="img-fluid" width= "200px" alt="vino1">
                     </a>
                     <p class="parrafocontent"><b>Bodega</b></p>
                     <p class="parrafocontent">Nombre producto</p>
                     <p class="parrafocontent"><b>$750.00</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>
                 <div class="col-md-3 px-5">
                    <a href="/producto">
                     <img src="images/genericwine.jpg" class="img-fluid" width= "200px" alt="vino1">
                     </a>
                     <p class="parrafocontent"><b>Bodega</b></p>
                     <p class="parrafocontent">Nombre producto</p>
                     <p class="parrafocontent"><b>$750.00</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>      
                 <div class="col-md-3 px-5">
                    <a href="/producto">
                     <img src="images/genericwine.jpg" class="img-fluid" width= "200px" alt="vino1">
                     </a>
                     <p class="parrafocontent"><b>Bodega</b></p>
                     <p class="parrafocontent">Nombre producto</p>
                     <p class="parrafocontent"><b>$750.00</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>               
               
            </div>
        </div>
        <br>
        
        <div class="h4style">
            <h4>DW Club Blog</h4>
        </div> <br>  
        
        <div class="container-fluid py-2 estilo">
            <div class="row">
                <div class="hover column">
                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/uvas1.jpg" class="imgpost" /></figure> </a>
                        <span>Cepas argentinas</span>                    
                    </div>

                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/barriles.jpg" class="imgpost" /></figure> </a>
                        <span>Nuevas técnicas de guarda</span>
                    </div>
                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/copa.jpg" class="imgpost" /></figure> </a>
                        <span>Consejos para degustar</span>
                    </div>
                </div>    
            </div>
        </div> <br>
    </main>


    <%- include("./partials/footer.ejs")%>

    
</body>
</html>
