<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="imgbox">
            <a href="/products"><img id="banner" src="images/banner_sincuotas_desktop01.png" alt="banner"></a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 px-5" id="publi">
                    <p><a href=""><i class="fas fa-truck fa-lg"></i>Envíos a todo el país</a></p>
                </div>    
                <div class="col-md-3 px-5" id="publi">
                    <p><a href=""><i class="far fa-credit-card fa-lg"></i> Métodos de pago</a></p>
                </div>
            </div> <br>
        </div>

        <div class="h4style">   
        <h4 class="titleMV">Los más vendidos</h4>
        </div> <br>
        
        <div class="container-fluid py-2 estilo">
           <div class="row sugerenciasIndex">
               <div class="col-md-3 px-5 bordeSugerencias">
                   <a href="/product-detail/24">
                    <img src="images/productos/image-1611356369312.jpg" class="img-fluid" width= "200px" alt="Luigi bosca">
                    </a>
                    <p class="parrafocontent"><b>Luigi Bosca</b></p>
                    <p class="parrafocontent">Malbec</p>
                    <p class="parrafocontent"><b>$975</b></p>
                    <button class="vendidosButton">Agregar al carrito</button>
                </div>
                <div class="col-md-3 px-5 bordeSugerencias">
                    <a href="/product-detail/31">
                     <img src="images/productos/image-1614279466410.jpg" class="img-fluid" width= "200px" alt="Trumpeter">
                     </a>
                     <p class="parrafocontent"><b>Trumpeter</b></p>
                     <p class="parrafocontent">Malbec</p>
                     <p class="parrafocontent"><b>$927</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>
                 <div class="col-md-3 px-5 bordeSugerencias">
                    <a href="/product-detail/54">
                     <img src="images/productos/image-1614979958999.jpg" class="img-fluid" width= "200px" alt="Casa boher Extra Brut">
                     </a>
                     <p class="parrafocontent"><b>Casa Boher</b></p>
                     <p class="parrafocontent">Extra Brut</p>
                     <p class="parrafocontent"><b>$1029</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>      
                 <div class="col-md-3 px-5 bordeSugerencias">
                    <a href="/product-detail/49">
                     <img src="images/productos/image-1614281048550.jpg" class="img-fluid" width= "200px" alt="Alamos Malbec Maceracion Rose">
                     </a>
                     <p class="parrafocontent"><b>Alamos</b></p>
                     <p class="parrafocontent">Malbec Maceracion Rose</p>
                     <p class="parrafocontent"><b>$750</b></p>
                     <button class="vendidosButton">Agregar al carrito</button>
                 </div>               
               
            </div>
        </div>
        <br>
        
        <div class="h4style">
            <h4 class="titleMV">DW Club Blog</h4>
        </div> <br>  
        
        <div class="container-fluid py-2 estilo">
            <div class="row blog">
                <div class="hover column">
                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/uvas1.jpg" class="imgpost" /></figure> </a>
                        <span>Cepas argentinas</span>                    
                    </div>

                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/barriles.jpg" class="imgpost" /></figure> </a>
                        <span>Nuevas técnicas de guarda</span>
                    </div>
                    <div class="col-md-4 px-5" id="margenes">
                        <a href=""><figure><img src="images/copa.jpg" class="imgpost" /></figure> </a>
                        <span>Consejos para degustar</span>
                    </div>
                </div>    
            </div>
        </div> <br>
    </main>


    <%- include("./partials/footer.ejs")%>

    
</body>
</html>
