<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include("../partials/header.ejs")%>


        

    <h1 class="tituloProfile">Cepas argentinas</h1><br>

        <article>
                <div>
                    <p class="article_pub-date">Publicado 1 de Marzo de 2021</p>        
                </div>

                <div>
                    <div class="large-9 columns">
                        <img class="float-left" src="images/uvas.jpg" />
                        <span class="blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quis doloribus delectus natus at explicabo ipsam voluptatum, atque optio culpa! Vitae voluptatem expedita molestiae eum dolorem, nemo qui possimus fugiat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit accusantium quas alias modi, numquam temporibus commodi sapiente error quos recusandae facilis labore impedit, vero veritatis minus officiis nemo, iure dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. </span> Vel repellendus sit iusto modi voluptatibus eligendi, nulla magnam, earum ratione inventore fugiat reiciendis exercitationem nisi nam, illum voluptas. Ea, numquam optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi maxime, facere voluptatum dicta officiis! Quasi a eum similique culpa, dicta fuga quo tempore perspiciatis quia nisi modi facere amet? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        <span class="blog-text"></span>  Pariatur omnis blanditiis eum voluptatibus rem nulla architecto, vel accusantium facere quam cumque, sit doloribus, assumenda sapiente maiores ut neque possimus natus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ab nulla officiis deserunt. Voluptatem cupiditate sequi deleniti libero dolore. Expedita animi molestias explicabo eligendi labore ea, veniam adipisci illo magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. <img class="float-right" src="images/torrontes.jpg" />  Laudantium eveniet voluptatibus delectus ratione ad vel dolorum eius suscipit expedita neque! Odio atque quaerat nam blanditiis magnam reprehenderit, consectetur voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, impedit quo quos expedita dicta recusandae maiores perspiciatis nemo fugiat quis ut facere magni quas nisi repellat odio reprehenderit. Perferendis,Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ut nulla sunt aspernatur culpa, vero quibusdam, facere corporis, repellat itaque quas? Voluptatum tempore officia architecto ut, obcaecati ipsa nam autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem voluptatibus dicta nobis tenetur blanditiis, velit vel atque nemo hic inventore, facere libero ipsa. Ipsum dolores nisi, ut alias iste eius. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente maxime culpa doloremque nostrum ratione nihil tempore molestiae rerum accusantium recusandae iure omnis, aspernatur provident quia, modi sunt magnam maiores laudantium.<span class="blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quis doloribus delectus natus at explicabo ipsam voluptatum, atque optio culpa! Vitae voluptatem expedita molestiae eum dolorem, nemo qui possimus fugiat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit accusantium quas alias modi, numquam temporibus commodi sapiente error quos recusandae facilis labore impedit, vero veritatis minus officiis nemo, iure dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repellendus sit iusto modi voluptatibus eligendi, nulla magnam, earum ratione inventore fugiat reiciendis exercitationem nisi nam, illum voluptas. Ea, numquam optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi maxime, facere voluptatum dicta officiis! Quasi a eum similique culpa, dicta fuga quo tempore perspiciatis quia nisi modi facere amet? Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                        
                    </div>
                </div>    
            </article>
        </div>
        <%- include("../partials/footer.ejs")%>

    </body>
</html>