<footer>
    <div class="footer-container">
        <div class="sections">
        <h3>Secciones</h3>
        
        <ul class="estilo-section">
            <li><a href="/products">Vinos</a></li>
            <li><a href="/products">Espumantes</a></li>
            <li><a href="/products">Espirituosas</a></li>
            <li><a href="/products">Cavas</a></li>
            <li><a href="/products">Accesorios</a></li>
            <li><a href="">DW Club</a></li>
        </ul>
        </div>

        <div class="contact">
        <h3>Contacto</h3>
            <ul>
                <li>Tel:(011) 0303456</li>
                <li>E-mail: dwines@gmail.com</li>
            </ul>
        </div>
        
        <div class="socials">
        <h3>Redes sociales</h3>
        <i id="color-fab" class="fab fa-facebook"></i> 
        <i id="color-fab" class="fab fa-instagram"></i>
        <i id="color-fab" class="fab fa-whatsapp"></i>
        </div>  
    </div> 
</footer>

