<!DOCTYPE html>
<html lang="en">
   
    <%- include("../partials/head.ejs")%>
    
<body>
    
    <%- include("../partials/header.ejs")%>
        
    <main>     
        <div class="container">
        
            <div class="titles">
                <h1>Inici치 sesi칩n</h1>
            </div>
             <div>
                <form method="POST" action="/login">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="E-mail" class="estilo-form" required>
            </div>
             <div>
                <label for="password"></label></p>
                <input type="password" name="password" id="password" placeholder="Contrase침a" class="estilo-form" required>
             </div>
            <div> 
            <p><button type="submit" value="login" class="register">Ingres치</button></p>
            
            </div>
             </form>

        </div>  

    </main>

    <%- include("../partials/footer.ejs")%>
    
</body>
</html>