<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include("../partials/header.ejs")%>
        <div id="userdiv">
            <h1>Perfil de Usuario</h1>
            <div id="userimg">
                <img height="300px" width="auto" src="/images/users/avatar-1608500721056.jpg" alt="">
            </div>
            <div id="datodiv">
                <p class="datopar"> <span class="propiedad"> Nombre: </span> </p>
                <p class="datopar"> <span class="propiedad"> Apellido:</span> </p>
                <p class="datopar"> <span class="propiedad"> Email:</span></p>
                <p class="datopar"> <span class="propiedad"> Fecha:</span>  </p>
            </div>
        </div>
        <%- include("../partials/footer.ejs")%>

    </body>
</html>